<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<section>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-success">
			<div class="container">
				<a class="navbar-brand" href="#">User Management</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/register}">Register</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/signin}">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Register Page Header -->
		<div class="container my-5">
			<h1 class="text-center mb-4">Login Page</h1>
			<!-- Registration Form -->
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card shadow-sm">

						<!-- <th:block th:if="${session.msg}">
					 <p class="text-center text-success">[[${session.msg}]]</p>
  					 <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
  					 </th:block> -->

						<!-- register.html -->
						<div th:if="${msg}">
							<p class="text-center text-success">[[${msg}]]</p>
						</div>


						<div class="card-body">
							<form action="userLogin" method="post">

								<!-- Username/Email Input -->
								<div class="form-group">
									<label for="username">Enter Email</label> <input type="text"
										class="form-control" name="username" required
										placeholder="Email Address">
								</div>

								<!-- Password Input -->
								<div class="form-group">
									<label for="password">Enter Password</label> <input
										type="password" class="form-control" name="password" required
										placeholder="Password">
								</div>


								<div th:if="${param.error}" class="text-danger text-center">
									Invalid Username or Password
									[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>

								<div th:if="${param.logout}" class="text-success text-center">
									Logout Successfully</div>



								<!-- Submit Button -->
								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</form>
						</div>

						<!-- Optional Footer with Login Link -->
						<div class="text-center mt-3"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>
